html{
    background: url('images/backgroundGrey.gif') repeat 0 0 scroll;
    background-color:#0C0C0C;
    background-size: 100% 100%;
    height:100%;
    width:100%; 
}


#page-mask {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#logo {
    width: 9%;
    height: 9%;
    position: relative;
    right:-25px;
    top:-5px;
}

.edges {
  position: relative;
  background-color: burlywood;
}

.edgeButtons {
    font-size: 0.75vw;
    padding: 0.75% 1.5%;
    font-weight: bold;
}
.edgeButtons:hover {
    color: orange;
    cursor: pointer;
}

#signup {
    position:absolute;
    top: 25%;
    right:15%;
}

#login {
    position:absolute;
    top:25%;
    right:5%;
}

/* .Board {
    
    background: url('images/boardBackground.jpg') no-repeat 0 0 scroll;
    background-color:#0C0C0C;
    background-size: 100% 100%;

} */


/* The popup form - hidden by default */
.Form {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
  z-index: 5;
}

/* Add styles to the form container */
 .form-container {
  width: 400px;
  padding: 10px;
  background-color: white;
} 

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



.game {
  position: relative;
  background-color: burlywood;
  width: 90vw;
  height: 25vw;
  margin: auto;
  margin-top: 120px;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
  min-width: 800px;
  min-height: 400px;
  
}

#game-configs{
  width: 100%;
  font-size:  0.75vw;
}

.game-title{ 
  position:absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size:  1.5vw;
  line-height: 50%;
  padding-left: 5%;
  padding-right: 5%;

  border: 10px double grey;
} 

.icons{
  width: 3%;
}

#oneplayer-text{
  position: absolute;
  top: 30%;
  left: 35%;
  transform: translate(-50%, -50%);
}

#oneplayer-img{
  position: absolute;
  top: 38%;
  left: 35%;
  transform: translate(-50%, -50%);
} 


#difficulty-input{
  display: flex;
  position: absolute;
  top: 45%;
  left: 35%;
  transform: translate(-50%, -50%);
}




#configs-line{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

#twoplayers-text{
  position: absolute;
  top: 30%;
  left: 65%;
  transform: translate(-50%, -50%);
}

#twoplayers-img{
  position: absolute;
  top: 38%;
  left: 65%;
  transform: translate(-50%, -50%);
} 

#toggle_gamemode {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67px;
  height: 30px;
  cursor: pointer;
  background: url(images/toggle_left.png);
  z-index: 2;
}



#numseeds-text{
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.seed-buttons{
  position: absolute;
  top: 70%;
  
  font-family: ChunkFive;
  font-size: 24px;
  line-height: 42px;
  text-shadow: 1px 1px 1px white;
  width: 42px;
  height: 42px;
  border: 1px solid #93b5c0;
}

.seed-buttons:hover{
  color:orange;
  cursor: pointer;
}

#threeseeds-button{
  left: 29.2%;
  border-radius: 10px 0px 0px 10px;
}

#fourseeds-button{
  left: 32.1%;
}

#fiveseeds-button{
  left: 35%;
}

#sixseeds-button{
  left: 37.9%;
  border-radius: 0px 10px 10px 0px;
}



#numpits-text{
  position: absolute;
  top: 60%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.pits-buttons{
  position: absolute;
  top: 70%;
  
  font-family: ChunkFive;
  font-size: 24px;
  line-height: 42px;
  text-shadow: 1px 1px 1px white;
  width: 42px;
  height: 42px;
  border: 1px solid #93b5c0;
}

.pits-buttons:hover{
  color:orange;
  cursor: pointer;
}


#fourpits-button{
  right: 37.9%;
  border-radius: 10px 0px 0px 10px;
}

#fivepits-button{
  right: 35%;
}

#sixpits-button{
  right: 32.1%;
}

#sevenpits-button{
  right: 29.2%;
  border-radius: 0px 10px 10px 0px;
}




/* CSS */
#startgame-button {
  position: absolute;
  top:90%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 20%;

  font-family: ChunkFive;
  font-size: 24px;
  font-weight: bold;

  color: black !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 20px;
	border: 4px solid grey !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

#startgame-button:hover{
  color: black !important;
	background: burlywood;
	border-color: white !important;
	transition: all 0.4s ease 0s;
  cursor: pointer;
}

#vertical-pit{
  height: 70%;
  width:10%;
  background-color: #8c4808;
}

#game-board{
  display: none;
  height: 400px;
  margin: 20px;
  grid-template-columns:5% 20% auto 20% 5%;
  grid-template-areas: ". name2 values2 . ."
                       "storageValue2 storage2 board storage1 storageValue1"
                       ". . values1 name1 .";
}

#storageValue2{
  width: 40px;
  font-size: 30px;
  grid-area: storageValue2;
  text-align: right;
  margin: auto;
}

#storageValue1{
  width: 40px;
  font-size: 30px;
  grid-area: storageValue1;
  text-align: left;
  margin: auto;
}

#name1{
  font-size: 30px;
  grid-area: name1;
  text-align: center;
  margin: auto;
}

#values1{
  grid-area: values1;
  color: #015f7e;
  display: flex;
}
#storage1{
  grid-area: storage1;
  margin:auto;
  border-radius: 50px;
  background-color: #8c4808;
  height: 300px;
  width: 150px;
  box-shadow: 5px 5px black;
  border-width: 2px;
  border-style: solid;
  position: relative;
}
#board{
  grid-area: board;
  display: grid;
  grid-template-rows: 50% 50%;
}
#storage2{
  grid-area: storage2;
  margin:auto;
  background-color: #8c4808;
  border-radius: 50px;
  height: 300px;
  width: 150px;
  box-shadow: 5px 5px black;
  border-width: 2px;
  border-style: solid;
  position: relative;
}
pit{
  background-color: #8c4808;
  border-radius: 50px;
  margin: 5px;
  box-shadow: 5px 5px black;
  border-width: 2px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
}
#values2{
  grid-area: values2;
  color: #015f7e;
  display: flex;
}
#name2{
  grid-area: name2;
  text-align: center;
  font-size: 30px;
  margin: auto;
}
seed{
  width: 5px;
  height: 20px;
  border-radius: 50px;
  background-color: red;  
  border-width: 1px;
  border-color: black;
  border-style: solid;
  position:absolute;
}
seed-value{
  font-size: 30px;
  width: 100%;
  text-align: center;
}

#messages{ 
  position:absolute;
  background-color: rgb(90, 86, 76);
  width: 60%;
  height: 6vw;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  overflow-y: scroll;
}

#giveup-button:hover{
  color:orange;
  cursor: pointer;
}

#giveup-button{
  position: absolute;
  top: 90%;
  right: 5%;
  font-family: ChunkFive;
  font-size: 24px;
  line-height: 42px;
  text-shadow: 1px 1px 1px white;
  width: 100px;
  border: 1px solid #93b5c0;
}